/* Dar estilos a los elementos HTML de acuerdo con las siguientes instrucciones.
NO ALTERE EL HTML EXISTENTE PARA HACER ESTO. ESCRIBIR SOLAMENTE CSS!

/* Proporcione al elemento <body> un fondo de #bdc3c7 */

body
{
    background-color: #bdc3c7;
}

/* Hacer el elemento <h1> #9b59b6 */

h1
{
    background-color: #9b59b6;
    /*color: #9b59b6;*/
}

/* Hacer que todos los elementos <h2> sean naranja */

h2
{
    color: orange;
}

/* Haz que todos los elementos <li> sean azules (elige tu propio azul hexadecimal) */

li
{
    color: #3385ff;
}

/* Cambiar el fondo en cada párrafo para que sea amarillo */

p
{
    background-color: yellow;
}

/* Hacer que todas las entradas tengan un borde rojo de 3 píxeles */

input
{
    border: 3px solid red;
}

/* Dale a todo con la clase 'hola' un fondo blanco */

.hola
{
    background-color: white;
}

/* Dale al elemento con id 'especial' un borde azul sólido de 2px (elige tu propio rgb azul) */

#especial
{
    border: 2px solid #003380;
}

/* Hacer todos los <p> que están anidados dentro de divs 25px font (font-size: 25px) */

div > p
{
    font-size: 25px;
}

/* Hacer que solo las entradas con tipo 'texto' tengan un fondo gris */

input[type="text"]
{
    background-color: gray;
}

/* Dé a ambos <p> dentro del 3er <div> un fondo rosado */

div:nth-of-type(3) > p
{
    background-color: pink
}

/* Da el 2do <p> dentro del 3er <div> un borde blanco 5px */

div:nth-of-type(3) > p:nth-of-type(2)
{
    border: 5px solid white;
}

/* Haga que el <em> en el tercer elemento <div> sea blanco y la fuente de 20px (tamaño de fuente: 20px) */

div:nth-of-type(3) ~ p > em
{
    color: white;
    font-size: 20px;
}

/* DESAFÍOS DE BONIFICACIÓN */
/* Es posible que necesite buscar otros selectores y propiedades */

/* Hacer que todas las casillas de verificación "marcadas" tengan un margen izquierdo de 50px (margen-izquierda: 50px) */

input[type="checkbox"]:checked
{
    margin-left: 50px;
}

/* Haz que los elementos <label> sean MAYÚSCULAS sin cambiar el HTML (definitivamente mira esto */

label
{
    text-transform: uppercase;
}

/* Crea la primera letra del elemento con el id 'verde' especial y el tamaño de letra 100px (tamaño de fuente: 100) */

/* Hace que el color del elemento <h1> cambie a azul cuando se coloca sobre */

h1:hover
{
    color: blue;
}

/* Hace que los elementos <a> que han sido visitados sean grises */

a:visited
{
    color: gray;
}
