/*
body
{
    background-color: red;
}
*/

li
{
    color:pink;
    font-weight:  bolder;
}

/*
.hello
{
    color: peru;
}

.parrafo
{
    color: peru;
}
*/

/*Agrupar clases*/
.hello, .parrafo
{
    color: peru;
}

#name
{
    background-color: yellow;
}

/*Selector universal o estrella*/
*
{
    border: 1px solid lightgray;
}

/*Selector descendiente*/
ul li
{
    color: red;
}

span
{
    color: initial;
}

/*
ul *
{
    color: red;
    display: none;
}
*/