/*
body
{
    background-color: red;
}
*/

li
{
    color:pink;
    font-weight:  bolder;
}

/*
.hello
{
    color: peru;
}

.parrafo
{
    color: peru;
}
*/

/*Agrupar clases*/
.hello, .parrafo
{
    color: peru;
}

#name
{
    background-color: yellow;
}

/*Selector universal o estrella*/
*
{
    border: 1px solid lightgray;
}

/*Selector descendiente*/
ul li
{
    color: red;
}

span
{
    color: initial;
}

/*
ul *
{
    color: red;
    display: none;
}
*/

/* Selector adyacente con hermano siguiente*/

h4 + ul
{
    border: 4px solid red;
}

p + ul
{
    border: 4px solid red;
}

.subtitle
{
    font-size: 15px;
    color: olive;
}

.title-1
{
    color: green;
}

.title-2
{
    color: purple;
}

/*Selector hermano siguiente*/
.title-1 + .subtitle
{
    color: green
}

.title-2 + .subtitle
{
    color: purple;
}

/* ~ busca a todos sus hermanos*/
.hermano-mayor ~ .hermano
{
    background-color: yellow;
}

.enabled
{
    display: none;
}

.check:checked + .enabled
{
    display: block;
}

.check:checked ~ .disabled
{
    display: none;
}

/*
a[href="http://www.google.com"]
{
    color: white;
    background-color: blue; 
}
*/

/* nth of type*/
/*
li:nth-of-type(1)
{
    background-color: purple;
}
*/

li:nth-of-type(even) /* pares e impares*/
{
    background-color: gray;
}